<div class="file-rend-container">
    <form [formGroup]="filterForm" style="padding-left: 20px;" class="c-form" (ngSubmit)="submit()">
        <!-- <label for="integer" class="font-bold block mb-2">  </label> -->
        <input type="text" formControlName="filter" class="login-input mb-0" placeholder="Cerca il file" />  <p-button label="Submit"  />
    </form>
    <div class="file-grid">
        @for (file of filtredFiles; track $index) {
            <div class="file-item" (click)="dlFile(file)">
                <div class="icon-background">
                  <img src="assets/icons/icona-xml.png" alt="" style="height: 80px; width: 80px;">
                </div>
                <p class="file-title">{{ file }}</p>
              </div>
        }

      </div>

</div>