<div class="pagamenti-container round-d">
  <form [formGroup]="filterForm" class="filter-container">
    <div class="label-container ml-auto" style="padding-left: 0;">
      <label for="">Creditore</label>
      <input
        type="text"
        formControlName="filterEnte"
        class="login-input mb-0 ml-1"
        placeholder="Inserisci creditore "
      />
    </div>

    <p-button label="Invia" (onClick)="submit('ente')" class="submit-button" />

    <div class="label-container ">
      <label for="">IUV</label>
      <input
        type="text"
        formControlName="filterIUV"
        class="login-input mb-0 ml-1"
        placeholder="Inserisci creditore "
      />
    </div>

    <p-button label="Invia" (onClick)="submit('IUV')"  class="submit-button"/>

    <div class="label-container">
      <label for="">CF/PI</label>
      <input
        type="text"
        formControlName="filterCF"
        class="login-input mb-0 ml-1"
        placeholder="Inserisci creditore "
      />
    </div>

    <p-button label="Invia" (onClick)="submit('cf/pi')"  class="submit-button"/>

    <div class="label-container ">
      <label for="">Email</label>
      <input
        type="text"
        formControlName="filterEmail"
        class="login-input mb-0 ml-1"
        placeholder="Inserisci creditore "
      />
    </div>

    <p-button label="Invia" (onClick)="submit('email')"  class="submit-button"/>
  </form>
  <div class="t-container">
    @if (filtro) {
    <app-tabella-richieste></app-tabella-richieste>

    }
  </div>
</div>
