<div #resizeDiv class="table-container round-d ">
    @if (rendicontazione) {
    <p-table
      [value]="rendicontazione"
      styleClass="p-datatable-striped"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]"
      paginatorStyleClass="width: 75%"
    >
      <ng-template pTemplate="header">
        <!-- Header Statico -->
        <tr>
          <th>Id Flusso <p-columnFilter type="text" field="idFlusso" display="menu" /></th>
          <th>Data Flusso  <p-columnFilter type="text" field="dataFlusso" display="menu" /></th>
          <th>TRN <p-columnFilter type="text" field="trn" display="menu" /></th>
          <th>PSP <p-columnFilter type="text" field="idPsp" display="menu" /></th>
          <th>Numero Pagamenti <p-columnFilter type="text" field="numeroPagamenti" display="menu" /></th>
          <th>Importo Totale <p-columnFilter type="text" field="importoTotale" display="menu" /></th>
          <th>Stato <p-columnFilter type="boolean" field="Stato" display="menu" /></th>
        </tr>
        
        <!-- Riga dedicata al paginatore -->
      </ng-template>
  
      <!-- Corpo della Tabella -->
      <ng-template pTemplate="body" let-rendicontazione>
        <tr>
          <td>{{ rendicontazione.idFlusso }}</td>
          <td>{{ rendicontazione.dataFlusso }}</td>
          <td>{{ rendicontazione.trn }}</td>
          <td>{{ rendicontazione.idPsp }}</td>
          <td>{{ rendicontazione.numeroPagamenti }}</td>
          <td>{{ rendicontazione.importoTotale }}</td>
          <td>{{ rendicontazione.Stato }}</td>
        </tr>
      </ng-template>
    </p-table>
    }@else {
    <!-- messaggio di errore -->
    }
  </div>
  