
<div class="container">
    <img src="assets/logo/logo-pagopa.png" class="login-logo" (click)="returnToLogin()"/>
    <div class="card-container">
      <p-card>
        <ng-template pTemplate="header">
          <div class="container-title">
              <h1 class="login-title pagoPA-color">Recupero password</h1>
          </div>
        </ng-template>
        <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <label for="email" class="pagoPA-color">Email</label>
          <input type="email" formControlName="email" class="login-input mb-2" />
  
          <!-- 
          <label for="password" class="mt-2">Password</label>
          <input type="password" class="login-input" formControlName="password"> -->


          <p-button label="Submit" type="Submit"/>
  
  
        </form>
      </p-card>
    </div>


  </div>
  
  
  <p-toast />
