::ng-deep .p-checkbox,
::ng-deep .p-checkbox .p-checkbox-box {
  width: 18px;
  height: 18px;
}
::ng-deep .p-card-header {
  padding: 1.25rem;
  padding-bottom: 0;
}
::ng-deep .p-password {
  width: 100%;
  margin-bottom: 1.5rem;
}
::ng-deep .p-icon {
  transform: translateY(3.5px);
}
::ng-deep .p-inputtext {
  transition: color 0.3s, 0.3s;
  width: 100%;
  border-color: #d9d9d9;
  border-style: double;
  border-radius: 5px;
  border-width: 1px;
  height: 35px;
  margin-top: 0.5rem;
}
::ng-deep .p-inputtext:hover {
  border-color: #0073e6;
}
::ng-deep .p-inputtext:focus {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

::ng-deep .p-card {
  width: 500px;
  border-radius: 56px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
::ng-deep .p-card-content {
  padding-left: 2rem;
  padding-right: 2rem;
}
::ng-deep .p-button {
  width: 100%;
  background-color: #0073e6;
}
::ng-deep .p-button:hover {
  background-color: #005bb5;
}
.container-title {
  margin: 2rem;
}
.login-title {
  text-align: center;
  margin: 5px;
}
.login-subtitle{
    color: #777777;
    margin: 0;
    padding: 0;
    text-align: center;
}
.login-input {
  transition: color 0.3s, 0.3s;
  padding-left: 0.5rem;
  width: 100%;
  border-color: #d9d9d9;
  border-style: double;
  border-radius: 5px;
  border-width: 1px;
  height: 35px;
  margin-top: 0.5rem;
}
.login-input:hover {
  border-color: #0073e6;
}
.login-input:focus-visible {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  outline: none;
}
form label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.card-container {
  width: 500px;
}

.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-logo {
  width: 8%;
  margin-bottom: 2rem;
}

.rem-me {
  margin-left: 4px;
  font-size: 12px !important;
}
.container-justify-between {
  display: flex;
  justify-content: space-between; /* Spazio tra gli elementi */
  align-items: center;
}

a {
  font-size: 12px;
  text-align: left;
  transition: color 0.3s, border-bottom 0.3s;
  color: #007bff; /* Colore del testo */
  text-decoration: underline; /* Rimuove la sottolineatura */
  font-weight: bold; /* Grassetto */
}

/* Stato hover (quando il mouse è sopra il link) */
a:hover {
  color: #0056b3; /* Colore più scuro */
  text-decoration: underline; /* Mostra la sottolineatura */
}

/* Stato focus (quando il link è selezionato via tastiera) */
a:focus {
  outline: none; /* Rimuove il contorno predefinito */
  border-bottom: 2px solid #007bff; /* Indica il focus con una linea sotto */
}

/* Stato active (quando il link viene cliccato) */
a:active {
  color: #003f7f; /* Ancora più scuro per il clic */
  text-decoration: none; /* Rimuove nuovamente la sottolineatura */
}
