<div #resizeDiv class="table-container">
  @if (richiestePagamento) {
  <p-table
    #prime_table
    [value]="richiestePagamento.risultati"
    styleClass="p-datatable-striped"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <!-- Header Statico -->
      <tr>
        <th>Stato</th>
        <th>Dettagli Stato</th>
        <th>ID Richiesta</th>
        <th>ID Pendenza</th>
        <th>Tipo</th>
        <th>Ente Creditore</th>
        <th>Importo (€)</th>
        <th>Numero Avviso</th>
        <th>Scadenza</th>
        <th>Anomalo</th>
        <th>Nome</th>
        <th>Causale</th>
        <th>Pagatore</th>
        <th>Data di scadenza</th>
      </tr>
      <!-- Riga dedicata al paginatore -->
      <!-- <tr>
        <td [attr.colspan]="14">
          <p-paginator
            [rows]="rows"
            [totalRecords]="richiestePagamento.numRisultati || 0"
            [rowsPerPageOptions]="[5, 10, 20]"
            (onPageChange)="onPageChange($event)">
          </p-paginator>
        </td>
      </tr> -->
    </ng-template>

    <!-- Corpo della Tabella -->
    <ng-template pTemplate="body" let-richiesta>
      <tr>
        <td>{{ richiesta.stato }}</td>
        <td>{{ richiesta.dettaglioStato }}</td>
        <td>{{ richiesta.pendenza.idA2A }}</td>
        <td>{{ richiesta.pendenza.idPendenza }}</td>
        <td>{{ richiesta.pendenza.tipoPendenza.descrizione }}</td>
        <td>{{ richiesta.pendenza.dominio.ragioneSociale }}</td>
        <td>{{ richiesta.pendenza.importo }}</td>
        <td>{{ richiesta.pendenza.numeroAvviso }}</td>
        <td>{{ richiesta.pendenza.dataScadenza | date: 'yyyy-MM-dd' }}</td>
        <td>{{ richiesta.pendenza.anomalo ? 'Sì' : 'No' }}</td>
        <td>{{ richiesta.pendenza.nome }}</td>
        <td>{{ richiesta.pendenza.causale }}</td>
        <td>{{ richiesta.pendenza.soggettoPagatore.anagrafica }}</td>
        <td>{{ richiesta.pendenza.dataScadenza | date: 'yyyy-MM-dd' }}</td>
      </tr>
    </ng-template>
  </p-table>
  }@else {
    <!-- messaggio di errore -->
  }
</div>
