<div class="pagamenti-container round-d">
  <h1>Tabella rendicontazioni</h1>
  <form [formGroup]="filterForm" class="filter-container">
    <div class="label-container ml-auto" style="padding-left: 0;">
      <label for="">Creditore</label>
      <input
        type="text"
        formControlName="filterEnte"
        class="login-input mb-0 ml-1"
        placeholder="Inserisci creditore "
      />
    </div>

    <p-button label="Invia" (onClick)="submit('ente')" class="submit-button" />

    <div class="label-container ">
      <label for="">IUV</label>
      <input
        type="text"
        formControlName="filterIUV"
        class="login-input mb-0 ml-1"
        placeholder="Inserisci IUV "
      />
    </div>

    <p-button label="Invia" (onClick)="submit('IUV')"  class="submit-button"/>

    <div class="label-container">
      <label for="">Identificativo flusso</label>
      <input
        type="text"
        formControlName="filterID"
        class="login-input mb-0 ml-1"
        placeholder="Inserisci ID flusso "
      />
    </div>

    <p-button label="Invia" (onClick)="submit('ID')"  class="submit-button"/>


  </form>
  <div class="t-container">
    @if (filtro) {
      <app-tabella-rendicontazioni></app-tabella-rendicontazioni>
    }
  </div>
</div>
