<div class="dashboard-container">
  <!-- Box1 -->
  <div
    #box1
    class="box1 round-d box-shadow-d scrollable"
    [ngClass]="{
      fullscreen: state_fullscreen_b1,
      'white-border': !state_fullscreen_b1
    }"
  >
    <!-- <button class="button-absolute" (click)="showSidebar()" *ngIf="state_fullscreen_b1"><i class="pi pi-times"></i>
</button> -->
    <!-- <div
      class="blur-ingrandisci"
      (click)="hideSidebar(1)"
      [ngClass]="{ hidden: state_fullscreen_b1 }"
    >
      <p style="font-weight: 700">[INGRANDISCI]</p>
    </div> -->
    <p-divider align="left" type="solid">
      <b>Richieste di pagamento per mese</b>
    </p-divider>
    <!-- <app-files-rendicontazioni></app-files-rendicontazioni> -->
    <app-bar [richieste]="richieste" *ngIf="richieste"></app-bar>

  </div>

  <!-- Fine box 1 -->

  <div
    #box2
    class="box2 round-d box-shadow-d scrollable"
    [ngClass]="{
      fullscreen: state_fullscreen_b2,
      'white-border': !state_fullscreen_b2
    }"
  >
    <button
      class="button-absolute"
      (click)="showSidebar()"
      *ngIf="state_fullscreen_b2"
    >
      <i class="pi pi-times"></i>
    </button>

    <!-- <div
      class="blur-ingrandisci"
      (click)="hideSidebar(2)"
      [ngClass]="{ hidden: state_fullscreen_b2 }"
    >
      <p style="font-weight: 700">[INGRANDISCI]</p>
    </div> -->
    <p-divider align="left" type="solid">
      <b>Stati delle richieste</b>
    </p-divider>
    <!-- <h4 class="title">Area richieste di pagamento</h4> -->
     <app-doughnut [richieste]="richieste" *ngIf="richieste"></app-doughnut>
  </div>

  <!--box3 -->
  <div
    #box3
    class="box3 round-d box-shadow-d scrollable"
    [ngClass]="{
      fullscreen: state_fullscreen_b3,
      'white-border': !state_fullscreen_b3
    }"
  >
    <button
      class="button-absolute"
      (click)="showSidebar()"
      *ngIf="state_fullscreen_b3"
    >
      <i class="pi pi-times"></i>
    </button>

    <!-- <div
      class="blur-ingrandisci"
      (click)="hideSidebar(3)"
      [ngClass]="{ hidden: state_fullscreen_b3 }"
    >
      <p style="font-weight: 700">[INGRANDISCI]</p>
    </div> -->
    <p-divider align="left" type="solid">
      <b>test</b>
    </p-divider>
    <!-- <h4 class="title"></h4> -->
  </div>

  <!-- fine box3 -->
</div>

<!-- <div
  class="blur-dark"
  [ngClass]="{
    hidden: !state_fullscreen_b1 && !state_fullscreen_b2 && !state_fullscreen_b3
  }"
  (click)="showSidebar()"
></div> -->
