.dashboard-container {
  display: grid;
  height: 100%;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  gap: 10px; /* Spaziatura tra gli elementi */

}
/* .dashboard-container div{

} */

.blur-dark{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.300);
  z-index: 8;
}

.box1 {
  position: relative;
  grid-row: 1 / 2; /* Occupa la prima metà in altezza */
  grid-column: 1 / 2; /* Occupa la prima metà in larghezza */
  background: white;
  padding: 1rem;
  transition: all 0.5s ease; /* Imposta una transizione morbida */
  /* display: flex; */

  overflow: hidden;
}

.white-border::before,
.white-border::after {
  width: 1rem;
  background: white;
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
}

.white-border::after{
  right: 0;
}

.white-border::before{
  left: 0;
}

.box2 {
  position: relative;
  grid-row: 1 / 2; /* Occupa la prima metà in altezza */
  grid-column: 2 / 3; /* Occupa la seconda metà in larghezza */
  background: white;
  padding: 1rem;
  transition: all 0.5s ease; /* Imposta una transizione morbida */
  overflow: hidden;

}

.box3 {
  position: relative;
  grid-row: 2 / 3; /* Occupa la seconda metà in altezza */
  grid-column: 1 / 3; /* Occupa tutta la larghezza */
  background: white;
  padding: 1rem;
  transition: all 0.5s ease; /* Imposta una transizione morbida */
  overflow: hidden;

}

.blur-ingrandisci{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color:white;
  z-index: 5;
}
.blur-ingrandisci p{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.blur-ingrandisci:hover{
  background-color: rgba(0, 0, 0, 0.300);
  opacity: 1;
}

.blur-ingrandisci:hover p{
  opacity: 1;
}

.fullscreen{
  max-width: 95vw;
  max-height: 96dvh; /* Limita l'altezza massima al 90% della finestra */

  z-index: 10;
  width: min-content;
  position: absolute !important;
  overflow: auto; /* Permette lo scroll verticale */

  top: 5px !important;
  left: 50% !important;
  transform: translate(-50%) !important;
}

/* Scrollbar generale */
.fullscreen::-webkit-scrollbar {
  width: 8px; /* Larghezza sottile */
  height: 8px; /* Altezza sottile */
}

/* Binario della scrollbar (track) */
.fullscreen::-webkit-scrollbar-track {
  background: #e0e0e0; /* Colore chiaro e neutro */
  border-radius: 10px; /* Arrotondamento elegante */
}

/* Barra di scorrimento (thumb) */
.fullscreen::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9e9e9e, #757575); /* Gradient elegante */
  border-radius: 10px; /* Arrotondamento per un look morbido */
  border: 2px solid #e0e0e0; /* Spazio tra barra e track */
}

/* Hover sulla barra di scorrimento */
.fullscreen::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #757575, #424242); /* Colore scuro durante hover */
}
.title{
  margin-bottom: 1rem;
  color: #212529;
}